<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Search</h1>

  <form action="/search" method="POST">
    <input name="search" type="radio" value="author">author
    <input name="search" type="radio" value="title">title
    <input name="search" type="text"> ask
  </form>
</body>
</html>