<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>show ejs stuff form google</h1>
  <ul>

    <% for(var i in mappedBooks) { %>
      <li>
      <%=  mappedBooks[i].title %>

        <form action="/books/save" method="post">
          <input type="hidden" value="<%= mappedBooks[i].title %>" name="title">
          <input type="text" name="category" required> category
          <button>Save</button>

        </form>
      </li>  
    
    <% } %>
    </ul>
</body>
</html>