<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/search">Book search</a></li>
    </ul>
  </nav>

  <h1>Hi</h1>
  <ul>
    <!-- variables used in ejs come from -->
    <% for(let i in savedBooks){ %>
      <li>
        <a href="/books/<%= savedBooks[i].id %>" >
          <h2><%= savedBooks[i].title %></h2>
        </a>

        <form action="/books/<%= savedBooks[i].id %>" method="POST">


          <input type="hidden" name="_method" value="DELETE">


          <button>Delete Me</button>
        </form>
      </li>
      <% } %>
    </ul>
    </body>
</html>